<!DOCTYPE html>
<html>
<head>
    <title>Experiment Debrief</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/debrief.css') }}">
</head>
<body>
    <div class="debrief-container">
        <h1 class="debrief-title">Experiment Complete</h1>
        
        <div class="debrief-message">
            <p>Thank you for participating in the experiment.</p>
            <p> This experiment will attempt to determine the difference between
                levels of task performance in participants with varying levels of domain expertise
                while assisted by a Large language model (LLM) AI assistant.
                Your responses and interactions will help us understand how AI can assist in task completion.</p>
                
            <p> The code you have written will be used to evaluate your performance in the task.
                We also recorded your interactions with the AI assistant to analyze how it influenced your coding process.
                The expertise survey you completed at the beginning of the experiment will help us categorize your level of expertise in the domain.</p>
                
            <p> All data submitted will be anonymized and used for research purposes only.
                Your data will be stored securely and deleeted after the research is complete in compliance with GDPR.

                Participants who did not get any AI assisance will be used as a control group.
            </p>
            <p>Thank you for your valuable contribution to this research!</p>
            <p>If you have any questions or concerns, please contact the research team at 2002431@uad.ac.uk</p>

        </div>
    </div>
</body>
</html>